    <div id="quality">

    </div>
    <div id="scope-block">
      <h1 class="block-head">Возможности</h1>
      <div id="scope-block-content">
        <div id="content-selector">
          <div class="selector-item" id="s1">
            <div class="selector-icon"></div>
            <p>Управление проектами</p>
          </div>
          <div class="selector-item" id="s2">
            <div class="selector-icon"></div>
            <p>Управление портфелем проектов</p>
          </div>
          <div class="selector-item" id="s3">
            <div class="selector-icon"></div>
            <p>Регулирование стоимости</p>
          </div>
          <div class="selector-item" id="s4">
            <div class="selector-icon"></div>
            <p>Распределение
              трудовых
              ресурсов</p>
          </div>
          <div class="selector-item" id="s5">
            <div class="selector-icon"></div>
            <p>Регулирование сроков</p>
          </div>
          <div class="selector-item" id="s6">
            <div class="selector-icon"></div>
            <p>Управление содержанием проектов</p>
          </div>
          <div class="selector-item" id="s7">
            <div class="selector-icon"></div>
            <p>Контроль
              качества</p>
          </div>
          <div class="selector-item" id="s8">
            <div class="selector-icon"></div>
            <p>Поддержание коммуникаций</p>
          </div>
        </div>
        <div id="display-block">
          <ul id="display-block-content">
            <li id="dp-b-c-one" class="dp-b-c">
              <h2 class="display-block-content-head">Управление проектами</h2>
              <ul>
                <li>Управление жизненным циклом</li>
                <li>Управление содержанием и коммуникациями</li>
                <li>Управление стоимостью, ресурсами и сроками</li>
                <li>Закрытие этапов работ</li>
                <li>Мониторинг и контроль выполнения</li>
                </ul>
            </li>
            <li id="dp-b-c-two" class="dp-b-c">
              <h2 class="display-block-content-head">Управление портфелем
                проектов</h2>
              <ul>
                <li>Формирование годового плана по видам деятельности</li>
                <li>Сбор факта и контроль выполнения показателей бизнес плана</li>
                <li>Формирование данных для корпоративной управленческой отчетности</li>
                <li>План-факт анализ исполнения производственной программы</li>
              </ul>
            </li>
            <li id="dp-b-c-three" class="dp-b-c">
              <h2 class="display-block-content-head">Регулирование стоимости</h2>
              <ul>
                <li>Сбор объемов работ</li>
                <li>Ценообразование: расчет смет</li>
                <li>Определение стоимости этапов из смет</li>
                <li>Расчет стоимости выпуска комплекта</li>
              </ul>
            </li>
            <li id="dp-b-c-four" class="dp-b-c">
              <h2 class="display-block-content-head">Распределение трудовых
                ресурсов</h2>
              <ul>
                <li>Анализ загрузки ресурсов по портфелю проектов</li>
                <li>Ресурсное планирование по этапам проекта</li>
                <li>Определение ресурсов на комплект</li>
                <li>Выдача заданий в отделы на выпуск комплекта</li>
              </ul>
            </li>
            <li id="dp-b-c-five" class="dp-b-c">
              <h2 class="display-block-content-head">Мониторинг сроков</h2>
              <ul>
                <li>Расчет вех по преддоговорным работам</li>
                <li>Применение шаблонов типовых проектов</li>
                <li>Подготовка плана выпуска проектной продукции на месяц</li>
                <li>Формирование и контроль плана закрытия этапов</li>
                </ul>
            </li>
            <li id="dp-b-c-six" class="dp-b-c">
              <h2 class="display-block-content-head">Управление содержанием
                проектов</h2>
              <ul>
                <li>Вехи: планирование выполнения преддоговорных работ</li>
                <li>Календарное планирование</li>
                <li>Формирование планового реестра проектной продукции</li>
                <li>Взаимосвязь объектов  проекта: Объемы работ – Сметы ПИР – Этапы КП – Комплекты ПСД – Задания</li>
              </ul>
            </li>
            <li id="dp-b-c-seven" class="dp-b-c">
              <h2 class="display-block-content-head">Контроль качества</h2>
              <ul>
                <li>Планирование необходимости контроля качества продукции</li>
                <li>Процесс нормоконтроля</li>
                <li>Процесс внутренней и внешней экспертизы</li>
                <li>Ведение реестров несоответствий продукции</li>
                <li>Контроль отработки замечаний</li>
              </ul>
            </li>
            <li id="dp-b-c-eight" class="dp-b-c">
              <h2 class="display-block-content-head">Поддержание коммуникаций</h2>
              <ul>
                <li>Выдача заданий на подготовку преддоговорных материалов: объемы работ, сметы и проч</li>
                <li>Планирование выпуска комплектов на месяц и выдача заданий в отделы</li>
                <li>Согласование заданий</li>
                <li>Мониторинг хода выполнения работ: уведомления, история</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div id="suit-block">
      <h1 class="block-head">Решает задачи</h1>
      <div id="suit-block-content">
        <div class="target">
          <h2 class="target-name">
            Руководителей
          </h2>
          <ul>
            <li>
              - Контроль выполнения предпроектных работ и сроков контрактования
            </li>
            <li>
              - Контроль исполнения договорных обязательств
            </li>
            <li>
              - Отслеживание сроков по этапам и задачам проектов
            </li>
            <li>
              - Контроль исполнения продразделениями и филиалами проектных работ
            </li>
            <li>
              - Прогнозирование и контроль исполнения Бизнес Плана
            </li>
          </ul>
        </div>
        <div class="target">
          <h2 class="target-name">
            Менеджеров
          </h2>
          <ul>
            <li>
              - Сокращение времени на планирование
            </li>
            <li>
              - Управление изменениями проектной продукции
            </li>
            <li>
              – учет и контроль
              отработки замечаний нормоконтроля,
              внутренней и внешней экспертизы
            </li>
            <li>
              - Хранение документов по проекту в
              одном месте
            </li>
            <li>
              - Выдача заданий подразделениям на
              выполнение работ по проекту
            </li>
          </ul>
        </div>
        <div class="target">
          <h2 class="target-name">
            Руководителей
            подразделений
          </h2>
          <ul>
            <li>
              - Организация рабочего времени
              своего подразделения
            </li>
            <li>
              - Согласованность действий
              сотрудников при выполнении работ
            </li>
            <li>
              - Контроль исполнительской
              дисциплины
            </li>
            <li>
              - Анализ и перераспределение загрузки
              сотрудников подразделения по
              проектным работам
            </li>
          </ul>
        </div>
        <div class="target">
          <h2 class="target-name">
            Исполнителей
          </h2>
          <ul>
            <li>
              - План работ на заданный период
            </li>
            <li>
              - Быстрый доступ ко всем
              необходимым документам для
              выполнения задания
            </li>
            <li>
              - Легкий процесс коммуникаций за
              счет переписки по заданиям
            </li>
            <li>
              - Уведомления о статусе задач:
              выполненные, просроченные, в
              работе и т.д.
            </li>
            <li>
              - Учет времени по выполненным
              работам
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div id="provider-block">
      <h1 class="block-head">быстрое внедрение</h1>
      <div id="provide-block-content">
        <div class="service">
          <img src="<%= image_path('firstserv.png') %>" >
          <p>Качественное обследование бизнес-процессов Вашей компании, выявление проблем проектного управления</p>
        </div>
        <div class="service">
          <img src="<%= image_path('secondserv.png') %>" >
          <p>Обучение сотрудников</p>
        </div>
        <div class="service">
          <img src="<%= image_path('3serv.png') %>" >
          <p>Формирование конфигурации СУПД под Ваши требования</p>
        </div>
        <div class="service">
          <img src="<%= image_path('4serv.png') %>" >
          <p>Техническое сопровождение</p>
        </div>
        <div class="service">
          <img src="<%= image_path('5serv.png') %>" >
          <p>Установка ПО на компьютеры Ваших специалистов</p>
        </div>
        <div>
          <div class="border-button">
            УЗНАТЬ БОЛЬШЕ
          </div>
        </div>
      </div>
    </div>
    <div id="demo-link-block">
      <div id="demo-link-block-content">
        <div>
          <h2>Попробуй бесплатно</h2>
          <p>14-дневный доступ ко всем функциям супд бесплатно</p>
        </div>
        <div class="border-button">
          ДЕМО
        </div>
      </div>
    </div>
    <div id="virtual-tour-block">
      <h1 class="block-head">Виртуальный тур</h1>
      <p>Для ознакомления функционалом Системы управления производственной деятельностью Вы можете скачать и посмотреть видеоролики</p>
      <div id="virtual-tour-block-content">
        <div class="virtual-tour-main-block">
          <div class="main-video">
            <iframe
                    width="841"
                    height="450"
                    src="https://www.youtube.com/embed/2g37NIyJuBI"
                    frameborder="0"
                    allow="autoplay; encrypted-media"
                    allowfullscreen></iframe>
          </div>
          <div class="main-description">
            <h3>Flowdox СУПД: Знакомство</h3>
            <div>
              Система управления проектной
              деятельностью представляет собой
              высококачественный мощный инструмент
              для создания корпоративной культуры
              Компании по проектному управлению
            </div>
          </div>
        </div>
        <a href="https://youtu.be/4LfRjLXGInc" class="virtual-tour-semi-block"  target="_blank" id="vt-s-b-c-1">
          <img src="<%= image_path('utube.png') %>" />
          <h2 class="document-name">
            Flowdox СУПД: Обзор возможностей системы
          </h2>
        </a>
        <a href="https://flowdox.ru/demonstration.pdf"  target="_blank" class="virtual-tour-semi-block">
          <img src="<%= image_path('pdf.png') %>" />
          <h2 class="document-name">
            Введение
          </h2>
        </a>
        <a href="https://flowdox.ru/dem.pptx"  target="_blank"  class="virtual-tour-semi-block">
          <img src="<%= image_path('pointe.png') %>" />
          <h2 class="document-name">
            Презентация
          </h2>
        </a>
      </div>
    </div>
    <div id="about-us-block">
      <h1 class="block-head">О нас</h1>
      <div id="about-us-block-content">
        <div class="a-u-b-c-element">
          <img src="<%=	 image_path('12.png') %>" class="twelf">
        </div>
        <div class="a-u-b-c-element" id="second">
          <h2>
            Лет на рынке
            разработки
          </h2>
          <p>
            С 2005 года мы занимаемся созданием
            высоконагруженных информационных систем
            разного масштаба и сложности, разрабатываем
            веб- и мобильные приложения, а также осуществляем
            интеграцию компонентов информационных систем.
          </p>
          <div class="full-button">
            <a href="http://www.sib-soft.ru/" target="_blank">Подробнее</a>
          </div>
        </div>
        <div class="a-u-b-c-element" id="achivment-block">
          <div class="achivment-box">
            <span>450+</span><br> выполненых <br> проектов
          </div>
          <div class="achivment-box">
            <span>89</span><br> сотрудников<br> в штате
          </div>
          <div class="achivment-box">
            <span>16</span><br> стран
          </div>
          <div class="achivment-box">
            <span>500+</span><br> тысяч<br> пользователей
          </div>
        </div>
      </div>
    </div>
    <div id="clients-block">
      <h1 class="block-head">Нам доверяют</h1>
      <div id="clients-content">
        <div class="client"></div>
        <div class="client"></div>
        <div class="client"></div>
        <div class="client"></div>
        <div class="client"></div>
        <div class="client"></div>
      </div>
    </div>
    <div id="comments-block">
      <h1 class="block-head" style="text-align: center;">Отзывы</h1>
      <div id="comments-block-content" >
        <article class="comment">
          <div class="comment-head">
            <img />
            <div class="commentator-name">
              <h4>

              </h4>
              <p class="mini-mini">
              </p>
            </div>
          </div>
          <div class="comment-content">
          <p>
            Рост эффективности в 10 раз за 2 годаЕсли
            до внедрения системы отклонения по портфелю проектов
            доходили до 100%, то сейчас не
            превышают 10%. Можно сказать, наша эффективность управления
            проектами выросла в 10 раз за 2 года использования СУПД.
          </p>
          </div>>
        </article>
        <article class="comment">
          <div class="comment-head">
            <img />
            <div class="commentator-name">
              <h4>

              </h4>
              <p class="mini-mini">
              </p>
            </div>
          </div>
          <div class="comment-content">
          <p>
            Отклонения по срокам проектов сократились
            на 50%До использования СУПД я тратил по 2 рабочих дня
            в неделю на сбор информации по
            15 проектам для контроля подрядчиков. Сейчас
            я получаю сводную информацию по проектам каждую
            неделю в режиме онлайн и трачу на совещания по контролю
            сроков всего 2-3 часа в неделю. Отклонения по срокам
            реализации проектов сократились в среднем на 50%.
          </p>
          </div>
        </article>
        <article class="comment">
          <div class="comment-head">
            <img />
            <div class="commentator-name">
              <h4>

              </h4>
              <p class="mini-mini">
              </p>
            </div>
          </div>
          <div class="comment-content">
          <p>
             «Flowdox СУПД» стало удобно управлять проектами.
            Теперь мы в любой момент оперативно можем выяснить,
            на какой стадии находится реализация проектов,
            причины отклонения от сроков их реализации,
            а также выработать те шаги, которые позволят
            успешно реализовать тот или иной проект. </p>
          <p>
            Более того, отмечу, что пользование «Flowdox СУПД»
            способствует эффективной командной работе, экономит
            рабочее время сотрудников банка.
          </p>
          </div>
        </article>
        <article class="comment">
          <div class="comment-head">
            <img />
            <div class="commentator-name">
              <h4>

              </h4>
              <p class="mini-mini">
              </p>
            </div>
          </div>
          <div class="comment-content">
          <p>
          Система уже окупила свою стоимость
          По итогам работы за год бизнес получил
            информационную прозрачность, сокращение
            сроков реализации проектов, оперативный
            контроль и оптимизацию затрат на развитие.
            В данный момент завершается внедрение
            СУПД, и я могу подтвердить, что программа
            уже окупила свою стоимость. Мы получаем
            множество положительных отзывов о работе
            с системой, как со стороны подрядчиков,
            так и заказчиков проектов.
          </p>
          </div>
        </article>
      </div>
    </div>
    <div id="order-block">
      <%= render "order_form" %>
    </div>