<div id="wrapper">
  <header>
    <div id="top-block">
      <div class="image">
        <div class="image-filter">
          <div id="top-block-content">
            <div id="main-logo">
              <img src="  <%= image_path('Union.png') %>  ">
              <h3>Flowdox СУПД</h3>
              <p>Система управления проектной деятельностью</p>
            </div>
            <h2>Новый уровень управления проектами</h2>
            <div class="border-button"> Оставить заявку </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <nav>
    <ul class="top-menu">
      <li class="top-menu-elem" id="first-scr">О системе</li>
      <li class="top-menu-elem" id="second-scr">Виртуальный тур</li>
      <li class="top-menu-elem" id="third-scr">О компании</li>
      <li class="top-menu-elem" id="four-scr">Контакты</li>
    </ul>
  </nav>
  <div id="content">
    <div id="scope-block">
      <h1 class="block-head">Возможности</h1>
      <div id="scope-block-content">
        <div id="content-selector">
          <div class="selector-item" id="s1">
            <div class="selector-icon"></div>
            <p>Управление проектами</p>
          </div>
          <div class="selector-item" id="s2">
            <div class="selector-icon"></div>
            <p>Управление портфелем проектов</p>
          </div>
          <div class="selector-item" id="s3">
            <div class="selector-icon"></div>
            <p>Регулирование стоимости</p>
          </div>
          <div class="selector-item" id="s4">
            <div class="selector-icon"></div>
            <p>Распределение
              трудовых
              ресурсов</p>
          </div>
          <div class="selector-item" id="s5">
            <div class="selector-icon"></div>
            <p>Регулирование сроков</p>
          </div>
          <div class="selector-item" id="s6">
            <div class="selector-icon"></div>
            <p>Управление содержанием проектов</p>
          </div>
          <div class="selector-item" id="s7">
            <div class="selector-icon"></div>
            <p>Контроль
              качества</p>
          </div>
          <div class="selector-item" id="s8">
            <div class="selector-icon"></div>
            <p>Поддержание коммуникаций</p>
          </div>
        </div>
        <div id="display-block">
          <div id="display-block-content">
            <div id="dp-b-c-one">
              <h2 class="display-block-content-head"></h2>
              <ul></ul>
            </div>
            <div id="dp-b-c-two">
              <h2 class="display-block-content-head"></h2>
              <ul></ul>
            </div>
            <div id="dp-b-c-three">
              <h2 class="display-block-content-head"></h2>
              <ul></ul>
            </div>
            <div id="dp-b-c-four">
              <h2 class="display-block-content-head"></h2>
              <ul></ul>
            </div>
            <div id="dp-b-c-five">
              <h2 class="display-block-content-head"></h2>
              <ul></ul>
            </div>
            <div id="dp-b-c-six">
              <h2 class="display-block-content-head"></h2>
              <ul></ul>
            </div>
            <div id="dp-b-c-seven">
              <h2 class="display-block-content-head"></h2>
              <ul></ul>
            </div>
            <div id="dp-b-c-eight">
              <h2 class="display-block-content-head"></h2>
              <ul></ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="suit-block">
      <h1 class="block-head">Решает задачи</h1>
      <div id="suit-block-content">
        <div class="target">
          <h2 class="target-name">
            Руководителей
          </h2>
        </div>
        <div class="target">
          <h2 class="target-name">
            Менеджеров
          </h2>
        </div>
        <div class="target">
          <h2 class="target-name">
            Руководителей
            подразделений
          </h2>
        </div>
        <div class="target">
          <h2 class="target-name">
            Исполнителей
          </h2>
        </div>
      </div>
    </div>
    <div id="provider-block">
      <h1 class="block-head">быстрое внедрение</h1>
      <div id="provide-block-content">
        <div class="service">
          <img src="<%= image_path('firstserv.png') %>" >
          <p>Качественное обследование бизнес-процессов Вашей компании, выявление проблем проектного управления</p>
        </div>
        <div class="service">
          <img src="<%= image_path('secondserv.png') %>" >
          <p>Обучение сотрудников</p>
        </div>
        <div class="service">
          <img src="<%= image_path('3serv.png') %>" >
          <p>Формирование конфигурации СУПД под Ваши требования</p>
        </div>
        <div class="service">
          <img src="<%= image_path('4serv.png') %>" >
          <p>Техническое сопровождение</p>
        </div>
        <div class="service">
          <img src="<%= image_path('5serv.png') %>" >
          <p>Установка ПО на компьютеры Ваших специалистов</p>
        </div>
        <div>
          <div class="border-button">
            УЗНАТЬ БОЛЬШЕ
          </div>
        </div>
      </div>
    </div>
    <div id="demo-link-block">
      <div id="demo-link-block-content">
        <div>
          <h2>Попробуй бесплатно</h2>
          <p>14-дневный доступ ко всем функциям супд бесплатно</p>
        </div>
        <div class="border-button">
          ДЕМО
        </div>
      </div>
    </div>
    <div id="virtual-tour-block">
      <h1 class="block-head">Виртуальный тур</h1>
      <p>Для ознакомления функционалом Системы управления производственной деятельностью Вы можете скачать и посмотреть видеоролики</p>
      <div class="virtual-tour-main-block"></div>
      <div class="virtual-tour-semi-block"></div>
      <div class="virtual-tour-semi-block"></div>
      <div class="virtual-tour-semi-block"></div>
    </div>
    <div id="about-us-block">
      <h1 class="block-head">О нас</h1>
      <div id="about-us-block-content">
        <div class="a-u-b-c-element">
          <img src="<%=	 image_path('12.png') %>" class="twelf">
        </div>
        <div class="a-u-b-c-element" id="second">
          <h2>
            Лет на рынке
            разработки
          </h2>
          <p>
            С 2005 года мы занимаемся созданием
            высоконагруженных информационных систем
            разного масштаба и сложности, разрабатываем
            веб- и мобильные приложения, а также осуществляем
            интеграцию компонентов информационных систем.
          </p>
          <div class="full-button">
            Подробнее
          </div>
        </div>
        <div class="a-u-b-c-element" id="achivment-block">
          <div class="achivment-box">
            <span>450+</span><br> выполненых <br> проектов
          </div>
          <div class="achivment-box">
            <span>89</span><br> сотрудников<br> в штате
          </div>
          <div class="achivment-box">
            <span>16</span><br> стран
          </div>
          <div class="achivment-box">
            <span>500+</span><br> тысяч<br> пользователей
          </div>
        </div>
      </div>
    </div>
    <div id="clients-block">
      <h1 class="block-head">Нам доверяют</h1>
      <div id="clients-content">
        <div class="client"></div>
        <div class="client"></div>
        <div class="client"></div>
        <div class="client"></div>
        <div class="client"></div>
        <div class="client"></div>
      </div>
    </div>
    <div id="order-block">
      <%= render "order_form" %>
    </div>
  </div>
</div>
<footer>

</footer>